/* Write some CSS below */
body {
  font-family: Overpass;
  color: #404042;
  font-size: 18px;
}

.button {background-color: orange;
	color: black;
	padding: 12px 16px;
	border-radius: 4px;

}



h1, h2, h3 {
  font-family: Chivo;
  text-align: center;
}

a {
  color: #1A48E3;
  font-weight: bold;
  text-decoration: none;
  transition: .3s;
  margin: 0;

}

a:hover {
  color: #CE2FAE;
}


.container {margin: 0 auto;
	background-color: white;

}

@media (min-width: 400px) {.container {width: 400px;}

}

@media (min-width: 720px) {.container {width: 720px;}

}

@media (min-width: 1000px) {.container {width: 1000px;}

}

#header-background {

	background-image: url(https://images.unsplash.com/photo-1517488629431-6427e0ee1e5f?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
width: 100%;
height: 80vh;
background-size: cover;
border-radius: 4px;

}

.header {text-align: center;

}

.body {display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

	
}

.card {


	background-color: orange;
	box-shadow: 0 0 16px rgba(0,0,0,0.1);
  border-radius: 4px;
  width: 200px;
  text-align: center;
  padding: 24px;
  margin: 8px;


}

.footer {text-align: center;}

